.career-hero {
  padding: 5rem 0;
  background-color: var(--bs-primary) !important;
}

.icon-box {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.partner-logo {
  background: white;
  border-radius: 8px;
  height: 100px;
  transition: transform 0.3s ease;
}

.partner-logo:hover {
  transform: translateY(-5px);
}

.accordion-button:not(.collapsed) {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}

@media (max-width: 767.98px) {
  .career-hero {
    text-align: center;
    padding: 3rem 0;
  }
  
  .career-hero img {
    margin-top: 2rem;
  }
}
.text-primary{
    color: var(--bs-primary) !important;
}
.badge{
    background-color: var(--bs-primary) !important;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.apply:hover{
    background-color: var(--bs-primary) !important;
    color: white !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.apply{
    background-color: transparent !important;
    color: var(--bs-primary) !important;
    border: 1px solid var(--bs-primary) !important;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.5rem;
}